<% if !@foo && !@age && !@colour %>
	<form action="/named-cat" method="post">
		Name:
		<input type="text" name="name">
		Age:
		<input type="text" name="age">
		Colour:
		<input type="text" name="colour">
		<input type="submit">
	</form>
<% end %>
