<h1>Hi, my name is <%= @foo %></h1>
<h1>Hi, my age is <%= @age %></h1>
<h1>Hi, my favourite colour is <%= @colour %></h1>


<img style="border:red 5px dotted" src="http://f.cl.ly/items/0k0v3e2X3l2f3i1n1Y19/Screen%20Shot%202013-09-10%20at%2011.32.00.png">

<% if !@foo && !@age && !@colour %>
	<form action="/named-cat">
		Name:
		<input type="text" name="name">
		Age:
		<input type="text" name="age">
		Colour:
		<input type="text" name="colour">
		<input type="submit">
	</form>
<% end %>
